.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-bottom: 4px solid #000000;
}

.title {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 3em;
  color: #000;
}

.categories {
  font-family: 'Poppins';
  font-size: 1.5em;
  text-align: center;
  color: #000;
}

.buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Poppins';
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    gap: 1em;
    border-radius: 15px;
}

.allButton {
  font-family: 'Poppins';
  font-size: 1.5em;
  border-radius: 15px;
}

.books-grid {
    margin-top: 1em;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}


.resent-added {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 2em;
  color: #000;
  border-top: 4px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
